---
import FeatureIconCard from "../components/FeatureIconCard.astro";
---

<div class="container max-w-[1440px] p-2 md:p-4 xlg:p-0 bg-orion-blue-50 mx-auto">
  <!-- Container for the services section with responsive padding and a maximum width -->
  <div class="px-12 py-32 text-orion-gray-600 pb-24">
    <!-- Title container with responsive padding -->
    <h2 class="text-4xl md:text-5xl font-semibold text-orion-gray-600 mx-auto max-w-[700px] text-center">
      <!-- Main title for the services section, centered and responsive in size -->
      Servicios de Construcción Integral
    </h2>
  </div>
  <div class="grid sm:grid-cols-3 gap-12 px-16 pb-32 text-balance">
    <!-- Grid container for service cards, responsive with 3 columns on small screens and above -->
    <FeatureIconCard
      title="Estaciones de servicio"
      description="Transformamos visiones en realidad con la construcción de estaciones de servicio modernas y eficientes."
    />
    <!-- Feature card for "Service Stations" service -->
    <FeatureIconCard
      title="Pavimentación de carreteras"
      description="Empleamos tecnología avanzada y materiales de alta calidad para garantizar superficies duraderas y seguras."
    />
    <!-- Feature card for "Road Paving" service -->
    <FeatureIconCard
      title="Soldadura en General"
      description="Nuestros soldadores certificados combinan técnica y precisión, garantizando uniones fuertes y acabados impecables."
    />
    <!-- Feature card for "General Welding" service -->
  </div>
</div>
