---
import Image from "astro/components/Image.astro";
---

<div class="w-full">
  <div
    class="container mx-auto max-w-[1440px] py-12 sm:py-16 px-2 sm:px-6 md:px-4 lg:px-16 bg-gradient-to-r from-orion-gray-500 to-orion-gray-800 text-gray-50"
  >
    <div class="flex flex-col lg:flex-row items-center sm:items-start lg:items-center">
      <h2 class="text-4xl sm:text-5xl font-bold leading-tight text-pretty lg:w-1/2">Empresas que Confían en Nosotros</h2>
      <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4 lg:gap-8 pt-12 lg:pt-0">
        <Image src="/logosTemp.png" alt="hero" class="w-40" width={200} height={200} />
        <Image src="/logosTemp.png" alt="hero" class="w-40" width={200} height={200} />
        <Image src="/logosTemp.png" alt="hero" class="w-40" width={200} height={200} />
        <Image src="/logosTemp.png" alt="hero" class="w-40" width={200} height={200} />
        <Image src="/logosTemp.png" alt="hero" class="w-40" width={200} height={200} />
      </div>
    </div>
  </div>
</div>
