---
const { href = "#", label = "Click me", extraClasses = "" } = Astro.props;
// No need for an onClick handler since Astro doesn't directly handle client-side interactions in this manner
---

<a
  href={href}
  role="button"
  class={`inline-block py-2 px-4 rounded-sm text-sm font-medium text-white bg-orion-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 ${extraClasses}`}
  aria-label={label}
>
  {label}
</a>
