---
import Image from "astro/components/Image.astro";
import ServiceCover from "../images/ServicesCover.jpg";
---

<div class="container max-w-[1440px] bg-orion-gray-950 h-full mx-auto">
  <div class="grid sm:grid-cols-2 items-center">
    <div id="left-col" class="flex flex-col gap-6 text-orion-gray-50 px-4 sm:px-4 md:px-16 py-12">
      <h2 class="text-2xl sm:text-4xl font-bold leading-tight text-balance max-w-[600px]">Valor Agregado para tus Proyectos de Construcción</h2>
      <p class="text-orion-gray-50">
        Nuestra empresa ofrece servicios de consultoría integral para proyectos de infraestructura y construcción. Trabajamos de cerca con nuestros
        clientes para brindar soluciones personalizadas que agreguen valor a sus proyectos.
      </p>
    </div>

    <Image src={ServiceCover} alt="hero" class="object-cover w-full h-full aspect-square" width={725} height={600} />
  </div>
</div>
